{% extends "vTrak/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="content-section">
                <h3>Testing</h3>
                    <ul class="list-group">
                        <form action="" method="post">{% csrf_token %}

                         <input type="submit" value="Create" />
                        </form>
                        {{ form.as_p }}

                    </ul>
            </div>
        </div>
    </div>
{% endblock content %}
