{% extends "vTrak/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<h3>Downed Vehicles</h3>
    <div class="table responsive" style="height: 600px; overflow: auto">
        <table class="table table-bordered">
            <tr>
                <th>Vehicle Number</th>
                <th>Down Reason</th>
                <th>Down Description</th>
            </tr>
            {% for veh in Vehicleinfo %}
                {% if veh.is_active and veh.status_id == 2 %}
                <tr>
                    <td>{{ veh.vehnum }}</td>
                    <td>{{ veh.downtype }}</td>
                    <td>{{ veh.down_desc }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>



{#                <form method="POST" action=""> {% csrf_token %}#}
{##}
{#                    <input type="hidden" name="clearedvehnum" maxlength="3" required#}
{#                           id="id_vehnum" value="{{ veh.vehnum }}">#}
{##}
{#                    <input type="checkbox" required id="backtoclear{{ veh.vehnum }}"#}
{#                           value="checkbox{{ veh.vehnum }}" style="display: none" checked>#}
{#                    <button id=submitbutton type="submit" class="btn btn-info">Clear Vehicle</button>#}
{#                </form>#}

{% endblock content %}


{#{% block javascript %}#}
{##}
{#    function LoadSubPage(vCar,sDiv){#}
{#    var queryStr = '{% url 'vTrak-datahistory' %}?carID='+vCar;#}
{#    $('#'+sDiv).load(queryStr, '',#}
{#    function(responseText, textStatus, XMLHttpRequest) { }#}
{#    );#}
{#    }#}
{##}
{#{% endblock javascript %}#}


