{% extends "vTrak/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="content-section">
                <h3>Available Cars</h3>
                    <ul class="list-group">
                        {% for veh in Vehicleinfo %}
                            {% if veh.is_active and veh.isforpatrol %}
                                <div id="accordion" role="tablist">
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingOne">

                                        {% if veh.status_id == 2 %}
                                            <button class="btn btn-dark" data-toggle="collapse" href="#collapseInfo{{ veh.id }}" aria-expanded="true"
                                                    aria-controls="collapse{{ veh.id }}">
                                                {{ veh.vehnum }}
                                            </button>
                                            {% elif veh.status_id == 3 %}
                                            <button class="btn btn-secondary" data-toggle="collapse" href="#collapseInfo{{ veh.id }}" aria-expanded="true"
                                                    aria-controls="collapse{{ veh.id }}">
                                                {{ veh.vehnum }}
                                            </button>
                                            {% elif veh.status_id == 1 %}
                                            <button class="btn btn-success" data-toggle="collapse" href="#collapseInfo{{ veh.id }}" aria-expanded="true"
                                                    aria-controls="collapse{{ veh.id }}">
                                                {{ veh.vehnum }}
                                            </button>
                                        {% endif %}

                                            <small class="text-secondary"> {{ veh.vehtype }}
                                                {% if veh.is_lpr %}
                                                - LPR
                                                {% endif %}
                                            </small>
                                        </div>

                                        <div id="collapseInfo{{ veh.id }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ veh.id }}">
                                            <div class="card-body">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Call Sign</span>
                                                    </div>
                                                        <input type="text" class="form-control" id="callsigninput{{ veh.id }}">
                                                </div>
                                            </div>
                                         </div>
                                    </div>
                                </div>

                            {% endif %}
                        {% endfor %}
                    </ul>
            </div>
        </div>
    </div>
{% endblock content %}
