{# TODO: work on downing a car #}
{# TODO: work on timing the cars in and out. #}
{# TODO: code clean up #}
{% extends "vTrak/base.html" %}
{% load static %}
{% block content %}
    <h3>Available Cars</h3>
    <div class="d-flex flex-wrap">
        {% for veh in Vehicleinfo %}
            {% if veh.is_active and veh.isforpatrol %}
                <div id="accordion" role="tablist">
                    <div class="card" style="width: 350px">
                        <div class="card-header" role="tab" id="headingOne">
                            {% if veh.status_id == 2 %}
                                <button class="btn btn-danger" data-toggle="collapse"
                                        href="#collapseInfo{{ veh.id }}" aria-expanded="true"
                                        aria-controls="collapse{{ veh.id }}">
                                    {{ veh.vehnum }}
                                </button>
                            {% elif veh.status_id == 3 %}
                                <button class="btn btn-secondary" data-toggle="collapse"
                                        href="#collapseInfo{{ veh.id }}" aria-expanded="true"
                                        aria-controls="collapse{{ veh.id }}">
                                    {{ veh.vehnum }}
                                </button>
                                <div style="display: inline">in use by: <span class="badge badge-info">{{ veh.callsigninuse.upper }} </span>
                                </div>
                            {% elif veh.status_id == 1 %}
                                <button class="btn btn-success" data-toggle="collapse"
                                        href="#collapseInfo{{ veh.id }}" aria-expanded="true"
                                        aria-controls="collapse{{ veh.id }}">
                                    {{ veh.vehnum }}
                                </button>
                            {% endif %}

                            {% if veh.vehtype_id == 1 %}
                                <img src="{% static 'vTrak/media/Vehicle-SUV.png' %}" align="right" alt="SUV"
                                     width="35" height="20">
                            {% elif veh.vehtype_id == 2 %}
                                <img src="{% static 'vTrak/media/VehicleCrownVic.png' %}" align="right"
                                     alt="Crown Vic" width="35" height="20">
                            {% endif %}
                            {% if veh.is_lpr %}
                                <img src="{% static 'vTrak/media/LPR.png' %}" align="right" alt="LPR" width="35"
                                     height="20">
                            {% endif %}
                        </div>
                        {% if veh.status_id == 1 %}
                            <div class="modal hide fade " id="Modal{{ veh.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <form id="role-form" method="POST" action=""> {% csrf_token %}
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">
                                                    Vehicle {{ veh.vehnum }}</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    <input type="hidden" name="vehnum" maxlength="3" required
                                                           id="id_vehnum" value="{{ veh.vehnum }}">
                                                    <input type="hidden" name="status" maxlength="1" required
                                                           id="id_status" value="3">
                                                </p>

                                                <p>
                                                    <label for="id_callsign">Callsign:</label>
                                                    <input type="text" name="callsign" maxlength="7" required
                                                           id="id_callsign">
                                                </p>
                                                <p>
                                                    <label for="id_squad">Squad:</label>
                                                    <select name="squad" required id="id_squad">
                                                        <option value="" selected>---------</option>

                                                        <option value="1">1</option>

                                                        <option value="2">2</option>

                                                        <option value="3">3</option>

                                                        <option value="4">4</option>

                                                        <option value="5">5</option>

                                                        <option value="6">6</option>

                                                        <option value="7">7</option>

                                                        <option value="8">Other</option>
                                                    </select>
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close
                                                </button>
                                                <button id=submitbutton type="submit" class="btn btn-primary">Save
                                                    Changes
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="modal hide fade " id="ModalDown{{ veh.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <form id="role-form" method="POST" action=""> {% csrf_token %}
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">
                                                    Vehicle {{ veh.vehnum }}</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    <input type="hidden" name="downedvehnum" maxlength="3" required
                                                           id="id_vehnum" value="{{ veh.vehnum }}">
                                                </p>
                                                <p>
                                                    <label for="id_reason">Reason</label>
                                                    <select name="reason" required id="id_reason">
                                                        <option value="" selected>---------</option>

                                                        <option value="1">1</option>

                                                        <option value="2">MDC</option>

                                                        <option value="3">Mechanical</option>

                                                    </select>
                                                </p>

                                                {% comment %}<p>
                                                    <label for="id_callsign">Callsign:</label>
                                                    <input type="text" name="callsign" maxlength="7" required
                                                           id="id_callsign">
                                                </p>{% endcomment %}

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close
                                                </button>
                                                <button id=submitbutton type="submit" class="btn btn-primary">Save
                                                    Changes
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}


                        <div id="collapseInfo{{ veh.id }}" class="collapse" role="tabpanel"
                             aria-labelledby="heading{{ veh.id }}">
                            <div class="card-body">

                            {% if veh.status_id == 1 %}
                                <button class="btn btn-primary" data-toggle="modal" href="#Modal{{ veh.id }}"
                                        aria-expanded="true"
                                        aria-controls="collapse{{ veh.id }}">
                                    Check Out Vehicle
                                </button>
                                <button class="btn btn-danger" data-toggle="modal" href="#ModalDown{{ veh.id }}"
                                        aria-expanded="true"
                                        aria-controls="collapse{{ veh.id }}">
                                    Down Vehicle
                                </button>
                                {% endif %}




                                {% if veh.status_id == 3 %}
                                    <form method="POST" action=""> {% csrf_token %}

                                            <input type="hidden" name="clearedvehnum" maxlength="3" required
                                                   id="id_vehnum" value="{{ veh.vehnum }}">

                                            <input type="checkbox" required id="backtoclear{{ veh.vehnum }}"
                                                   value="checkbox{{ veh.vehnum }}" style="display: none" checked>
                                        <button id=submitbutton type="submit" class="btn btn-info">Clear Vehicle</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock content %}


