{% extends "vTrak/base.html" %}
{% block content %}
<div class="row">

<div class="col-md-4">
  <div class="content-section">
    <h3>Available Cars</h3>

    <p class='text-muted'>blah blah
      <ul class="list-group">

{% for veh in Vehicleinfo  %}
    <div id="accordion" role="tablist">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" href="#collapseInfo{{veh.id}}" aria-expanded="true" aria-controls="collapse{{veh.id}}">
                {{veh.vehnum}}
                {{veh.isforpatrol}}


            </a>
          </h5>
        </div>

    <div id="collapseInfo{{veh.id}}" class="collapse" role="tabpanel" aria-labelledby="heading{{veh.id}}">
      <div class="card-body">
        {{veh.vehtype}}
        {{veh.status}}
        {{veh.isforpatrol}}
      </div>
    </div>
    </div>
  </div>
{% endfor %}

      </ul>
    </p>

  </div>
</div>
</div>
{% endblock content %}
