{% extends "vTrak/base.html" %}
{% block content %}
 {% comment %}
<table border="1">
    {% for log in Activityinfo %}

    <tr>
        <td> {{ forloop.counter }}</td>
        <td> {{ log.vehnum }} </td>
    </tr>
    {% endfor %}
</table>
{% endcomment %}
    <ul>
        {% for obj in Activityinfo %}
            {% if forloop.first %}
                <li>
            {% endif %}
        <a>{{ forloop.counter }} - {{obj.vehnum}}</a>
        {% if forloop.counter|divisibleby:3 and not forloop.first %}
            </li>
            <li>
        {% endif %}
        {% if forloop.last %}
            </li>
        {% endif %}
        {% endfor %}
    </ul>



{% for vehicletest in anothertest %}
    <p>
    callsign: {{ vehicletest.callsign}}
    <br>
    </p>

    {% endfor %}
{% endblock content %}
