{% extends "vTrak/base.html" %}
{% block content %}
 {% comment %}
<table border="1">
    {% for log in Activityinfo %}

    <tr>
        <td> {{ forloop.counter }}</td>
        <td> {{ log.vehnum }} </td>
    </tr>
    {% endfor %}
</table>
{% endcomment %}
    <table border="3">
        {% for obj in Activityinfo %}
            {% if forloop.first %}
                <tr>
            {% endif %}
        <td>
        <div class="card">
            <div class="card-body">
                {{ forloop.counter }}   -    {{obj.vehnum}}
            </div>
        </div>
        </td>
        {% if forloop.counter|divisibleby:4 and not forloop.first %}
            </tr>
            <tr>
        {% endif %}
        {% if forloop.last %}
            </tr>
        {% endif %}
        {% endfor %}
    </table>



{% for vehicletest in anothertest %}
    <p>
    callsign: {{ vehicletest.callsign}}
    <br>
    </p>

    {% endfor %}
{% endblock content %}
